/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Main layout styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  input[type="text"],
  select {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
  }
  
  input[type="text"]:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #005299;
  }
  
  input[readonly] {
    background-color: #f7f7f7;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }
  
  .navigation a:hover {
    background-color: blue;
  }